/* WeatherApp.css */
@font-face {
  font-family: "NeoGramBold";
  src: url("./NeoGramBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeoGramDemiBold";
  src: url("./NeoGramDemiBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.App {
  font-family: "NeoGramBold", sans-serif;
  background-color: black;
  color: white;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  padding-right: 50px;
  flex-direction: column; /* Adjusted layout to column */
}

.temp {
  letter-spacing: -3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 180px;
  line-height: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

body {
  margin: 0;
  font-family: "NeoGram", sans-serif;
}

.logo {
  margin-right: auto;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.search-container input {
  padding: 10px;
  margin-right: 8px;
  border-radius: 8px;
  color: black;
}

.search-container button {
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  background: none;
  border: none; 
  color: white;
}

.favourite-button {
  padding-top: 20px;
}

.weather-info-box,
.favourites-box {
  text-align: left;
  padding-bottom: 50px;
  background: #393232;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.weather-info-box p {
  margin: 5px 0;
}

.weather-info-box button {
  padding: 10px;
  cursor: pointer;
  background: gray;
  color: white;
  border-radius: 4px;
}

.weather-info-data {
  border-bottom: 6px solid rgb(110, 103, 94);
  display: flex;
  flex-wrap: wrap;
}

.weather-info-data > * {
  flex: 0 0 50%; /* Set each child element to take up 50% of the container width */
  box-sizing: border-box;
  padding: 0 10px; /* Add some padding for spacing between columns */
}
